.content{
  width: 70%;
  margin: 20px auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar{
  display: flex;
 
  justify-content: space-between;
}

.navbar>div:nth-child(2){
  width: 40%;

}

.navbar>div:nth-child(2)>a{
  margin-left: 65px;

}

.footer{
 
  display: flex;
  justify-content: center;
  
}

.mainContent{ 
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

