@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Mulish&family=Poppins:wght@200&family=Raleway:wght@700&display=swap');

.content{
  width: 70%;
  margin: 20px auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
 
  justify-content: space-between;
}

.navbar>div:nth-child(2){
  width: 35%;
  display: flex;
  justify-content: space-between;
align-items: center;

}



.footer{
 
  display: flex;
  justify-content: center;
  
}

.mainContent{ 
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

