@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Mulish&family=Poppins:wght@200&family=Raleway:wght@700&display=swap');

.content{
  width: 70%;
  margin:  auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
 
  justify-content: space-between;
}

.navbar>div:nth-child(2){
  width: 35%;
  display: flex;
  justify-content: space-between;
align-items: center;

}



.footer{
 
  display: flex;
  justify-content: center;
  
}

.mainContent{ 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.listTitle{
  height: 10%;
}
.listContent{
  width: 70%;
  height: 400px;

  justify-content: space-around;
  overflow: scroll;
  margin-bottom: 40px;

}


.listCard{

 display: flex;
 align-items: center;
 padding: 5px 0 ;
  padding-left: 10px;
  height: 100px;
  
margin-top: 50px;

background-color: #272626;
border-radius: .2rem;
}

.listCard:hover {
  border-left: 5px solid white;
}

.detailContent{

display: flex;
flex-direction: column;
text-align: center;
}